html {
  font-size: 1.2rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.8rem;
  }
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
}

header {
  padding: 200px 0 100px 0;
}

section {
  padding: 200px 0px 100px 0px;
}

section div.container {
  padding-left: 25px;
  padding-right: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

li.nav-item {
  margin: 1px 5px 1px 5px;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #ffffff 0%, #cccccc 100%);
}

.cookiealert {
  background-image: linear-gradient(15deg, rgba(0,0,0,0) 0%, #343a40 100%);
}
